<container>
    <row>
        <columns class="footer" style="background-color: #fafbfc !important; color: #b7bdc1;">
            <p style="color: #b7bdc1; text-align: center; font-size: 15px; font-family: 'Open Sans', Helvetica, Arial, sans-serif;">2440 W ‍El Cam‍ino Real &nbsp; • &nbsp;Mou‍ntain V‍iew, C‍A 94‍040</p>
            <p style="color: #b7bdc1; text-align: center; font-size: 15px; font-family: 'Open Sans', Helvetica, Arial, sans-serif;">You've received this email because you're signed up to receive email updates from Udacity.</p>
            <a href="#"><p style="color: #b7bdc1;text-decoration: underline; text-align: center; font-size: 15px; font-family: 'Open Sans', Helvetica, Arial, sans-serif;">Update your email preferences to choose which emails you receive</p></a>
            <a href="#"><p style="color: #b7bdc1;text-decoration: underline; text-align: center; font-size: 15px; font-family: 'Open Sans', Helvetica, Arial, sans-serif;">Unsubscribe from all emails</p></a>
            <spacer size="30" />
        </columns>
    </row>
</container>
<wrapper style="text-align: center; background-color: #7D97AD;">
    <p style="text-align: center; padding-top: 10px; padding-bottom: 10px; margin-bottom: 0px; color: white; font-size: 14; font-weight: 500; font-family: 'Open Sans', Helvetica, Arial, sans-serif;">Be in Demand</p>
</wrapper>