<container>
    <row>
        <columns large="4"></columns>
        <columns large="4" style="padding-top: 30px; padding-bottom: 30px;">
            <row>
                <columns style="padding-bottom: 0px">
                    <a href="#">
                        <img height="25" width="25" src="{{root}}/assets/img/twitter.jpg" />
                    </a>
                </columns>
                <columns style="padding-bottom: 0px">
                    <a href="#">
                        <img height="25" width="25" src="{{root}}/assets/img/facebook.jpg" />
                    </a>
                </columns>
                <columns style="padding-bottom: 0px">
                    <a href="#">
                        <img height="25" width="25" src="{{root}}/assets/img/instagram.png" />
                    </a>
                </columns>
                <columns style="padding-bottom: 0px">
                    <a href="#">
                        <img height="25" width="25" src="{{root}}/assets/img/linkedin.jpg" />
                    </a>
                </columns>
            </row>
        </columns>
        <columns large="4"></columns>
    </row>
</container>